:root {
  --body-background-color: #E5E5E5;
  --primery-text-color: #757575;
  --accent-color: #2196F3;
  --title-text-color: #212121;
  --title-text-Letter: rgba(33, 33, 33, 1);
  --logo-text-color: #FFFFFF;
  --team-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --hiro-hover-focus: rgba(33, 150, 243, 1);
  --border-header: rgba(238, 238, 238, 1);
  --contact-color: rgba(117, 117, 117, 1);
  --background-hiro: rgba(47, 48, 58, 0.4);
  --hiro-buton-hover-focus: #188CE8;
  --occupation-list: rgba(255, 255, 255, 1);
  --occupation-card: rgba(47, 48, 58, 0.8);
  --team-box-shadow-one: rgba(0, 0, 0, 0.12);
  --team-box-shadow-two: rgba(0, 0, 0, 0.14);
  --team-box-shadow-three: rgba(0, 0, 0, 0.2);
  --social-color-icon: rgba(175, 177, 184, 1);
  --client-border: #AFB1B8;
  --footer-address: rgba(255, 255, 255, 0.6);
  --footer-input: rgba(47, 48, 58, 1);
  --footer-buton: rgba(0, 0, 0, 0.15);
  --backdrop-color: rgba(0, 0, 0, 0.1);
  --backdrop-form:rgba(33, 33, 33, 0.2);
  --textarea-placeholder: rgba(117, 117, 117, 0.5);
  --backdrop-buton-color: rgba(24, 140, 232, 1);
  --buton-portfolio: rgba(245, 244, 250, 1);
  --buton-portfolio-color-one: rgba(0, 0, 0, 0.08);
  --buton-portfolio-color-two: rgba(102, 47, 47, 0.12);
  --border-card-portfolio: rgba(238, 238, 238, 1);
  --portfolio-color-one: rgba(0, 0, 0, 0.06);
  --portfolio-color-two: rgba(0, 0, 0, 0.16);
  --portfolio-wrapper-box: rgba(33, 150, 243, 0.9);
  --social-color-footer: rgba(255, 255, 255, 0.1);
  --font-family-logo: 'Raleway';
  --font-family-primery: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 
    'sans-serif';
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

body {
  font-family: var(--font-family-primery);
  background-color: var(--body-background-color);
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, p {
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  margin: 0px;
  padding: 0px;
}

.page {
  background-color: var(--page-backround-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 760px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  color: var(--title-text-color);
}

.page-header {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--border-header);
  background-color: var(--logo-text-color);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .page-header {
    max-width: 100%;
    width: 480px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    max-width: 100%;
    min-width: 786px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .header-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 760px) {
  .hader-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  font-family: var(--font-family-logo);
  line-height: 1.2;
  color: var(--accent-color);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .logo {
    padding-bottom: 10px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    text-align: left;
  }
}

.logo--colorcolor-black {
  color: var(--title-text-color);
}

.logo--color-white {
  color: var(--logo-text-color);
}

@media screen and (max-width: 767px) {
  .menu-button {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 16px;
    z-index: 6;
    left: 410px;
    top: 20px;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  fill: var(--title-text-Letter);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu:hover, .icon-menu:focus {
  fill: var(--hiro-hover-focus);
}

.icon-cross {
  fill: var(--title-text-Letter);
}

.icon-cross:hover, .icon-cross:focus {
  fill: var(--hiro-hover-focus);
}

.menu-button.is-open .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--occupation-list);
    padding: 20px;
  }
  .menu-container.is-open {
    display: block;
    z-index: 5;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container {
    margin-top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    position: absolute;
    margin-left: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .site-nav {
    margin-left: 40px;
    margin-top: 48px;
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    margin-left: 93px;
  }
}

.site-nav__link {
  color: var(--title-text-Letter);
  font-weight: 500;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .site-nav__link {
    display: block;
    margin-bottom: 35.71px;
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .current {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .current {
    color: var(--accent-color);
  }
  .current::after {
    position: absolute;
    content: '';
    display: block;
    width: 47px;
    height: 4px;
    background-color: var(--accent-color);
    -webkit-border-radius: 2px;
            border-radius: 2px;
    top: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .current::after {
    position: absolute;
    color: var(--accent-color);
    position: absolute;
    content: '';
    display: block;
    width: 47px;
    height: 4px;
    background-color: var(--accent-color);
    -webkit-border-radius: 2px;
            border-radius: 2px;
    bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav--padding {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav--margin {
    margin-left: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contact {
    margin-left: 40px;
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: block;
    margin-left: 84px;
    padding-top: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 305px;
  }
}

.contact__link {
  font-Weight: 500;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contact__link {
    color: var(--hiro-hover-focus);
    font-family: var(--font-family-primery);
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link {
    color: var(--contact-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact__link--mail {
    position: absolute;
    top: 80px;
    color: var(--contact-color);
    font-family: var(--font-family-primery);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .contact--margin {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__icon {
    width: 14px;
    height: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    width: 16px;
    height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .contact__icon--width {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__icon--width {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon--width {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .icon--margin {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1199px) {
  .icon--margin {
    margin-right: 10px;
  }
}

@media screen and (min-width: 0px) {
  .social-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 124px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 760px) {
  .social-header {
    display: none;
  }
}

.social-header__link {
  margin-left: 10px;
  color: var(--hiro-hover-focus);
  font-family: var(--font-family-primery);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.social-header__link--border:before {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.hero {
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .hero {
    max-width: 100%;
    min-width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-hiro)), to(var(--background-hiro))), url("../images/background-modile@1.jpg");
    background-image: -webkit-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-modile@1.jpg");
    background-image: -o-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-modile@1.jpg");
    background-image: linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-modile@1.jpg");
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 0px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 0px) and (max-width: 767px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 0px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 0px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-hiro)), to(var(--background-hiro))), url("../images/background-tblet@2.jpg");
    background-image: -webkit-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-tblet@2.jpg");
    background-image: -o-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-tblet@2.jpg");
    background-image: linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-tblet@2.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    max-width: 100%;
    min-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-hiro)), to(var(--background-hiro))), url("../images/background-tblet@1.jpg");
    background-image: -webkit-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-tblet@1.jpg");
    background-image: -o-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-tblet@1.jpg");
    background-image: linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-tblet@1.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-hiro)), to(var(--background-hiro))), url("../images/background-mobile@2.jpg");
    background-image: -webkit-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-mobile@2.jpg");
    background-image: -o-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-mobile@2.jpg");
    background-image: linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-mobile@2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-background-color);
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-hiro)), to(var(--background-hiro))), url("../images/background.jpg");
    background-image: -webkit-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background.jpg");
    background-image: -o-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background.jpg");
    background-image: linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background.jpg");
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--background-hiro)), to(var(--background-hiro))), url("../images/background-desktop@2x.jpg");
    background-image: -webkit-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-desktop@2x.jpg");
    background-image: -o-linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-desktop@2x.jpg");
    background-image: linear-gradient(var(--background-hiro), var(--background-hiro)), url("../images/background-desktop@2x.jpg");
  }
}

.hero__text {
  display: block;
  color: var(--logo-text-color);
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .hero__text {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .hero__text {
    font-size: 26px;
    padding-top: 118px;
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__text {
    margin-left: 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    margin: auto;
    max-width: 696px;
    font-size: 44px;
  }
}

.hero__buton {
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--logo-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
}

.hero__buton:hover, .hero__buton:focus {
  background-color: var(--hiro-buton-hover-focus);
}

@media screen and (max-width: 1199px) {
  .benefits {
    padding-top: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .benefits {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .benefis__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefis__list {
    margin-left: -30px;
    margin-bottom: -30px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefis__list {
    margin-right: 0px;
    margin-left: -30px;
  }
}

.benefis__grup-box {
  height: 120px;
  background: var(--team-background-color);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .benefis__grup-box {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefis__grup-box {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .benefis__grup-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .benefis__icon {
    width: 80px;
    height: 80px;
    padding-top: 30px;
    margin-left: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefis__icon {
    margin-left: 144px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 768px) {
  .benefis__icon {
    width: 70px;
    height: 70px;
  }
}

.benefits__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .benefits__text {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits--margin {
    margin-left: 30px;
    margin-bottom: 30px;
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits--margin {
    width: 270px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation {
    position: relative;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .occupation__text {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation__text {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .occupation__list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation__list {
    margin-left: -30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--occupation-list);
  }
}

@media screen and (max-width: 1199px) {
  .occupation__card {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation__card {
    position: absolute;
    bottom: 94px;
    width: 370px;
    height: 70px;
    background-color: var(--occupation-card);
  }
}

@media screen and (max-width: 1199px) {
  .occupation__card-text {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation__card-text {
    color: var(--logo-text-color);
    margin-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.2;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1199px) {
  .occupation--margin {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .occupation--margin {
    margin-left: 30px;
    width: 370px;
  }
}

.team {
  background-color: var(--team-background-color);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .team {
    max-width: 100%;
    min-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    max-width: 100%;
    min-width: 768px;
  }
}

@media screen and (max-width: 1199px) {
  .team {
    padding-top: 30px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    max-width: 100%;
    min-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__based-title {
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .team__based-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .team__based-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .team__box-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__box-card {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.team__card {
  background-color: var(--occupation-list);
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px var(--team-box-shadow-one), 0px 1px 1px var(--team-box-shadow-two), 0px 2px 1px var(--team-box-shadow-three);
          box-shadow: 0px 1px 3px var(--team-box-shadow-one), 0px 1px 1px var(--team-box-shadow-two), 0px 2px 1px var(--team-box-shadow-three);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .team__card {
    max-width: 480px;
    max-height: 622px;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card {
    max-width: 354px;
    max-height: 536px;
    margin-left: 30px;
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    height: 428px;
  }
}

@media screen and (max-width: 1199px) {
  .team__card .img-tel {
    margin-bottom: 0px;
    display: block;
    width: 100%;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .team__card .img-tel {
    height: 460px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card .img-tel {
    height: 374px;
  }
}

.team__employee {
  padding-top: 30px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .team__employee {
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .team__employee {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team__specialty {
  padding-bottom: 0px;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1,2;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-left: -10px;
}

.social--footer {
  margin-top: 0px;
}

.social__itam {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.social__itam--footer {
  background-image: -webkit-radial-gradient(var(--social-color-footer), var(--social-color-footer));
  background-image: -o-radial-gradient(var(--social-color-footer), var(--social-color-footer));
  background-image: radial-gradient(var(--social-color-footer), var(--social-color-footer));
  -webkit-border-radius: 360px;
          border-radius: 360px;
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  color: var(--social-color-icon);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--logo-text-color);
}

.social__link--footer {
  color: var(--logo-text-color);
  margin-left: 0px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__text {
  margin-bottom: 50px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.2;
  color: var(--title-text-Letter);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .client__text {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .client__text {
    font-size: 36px;
  }
}

.client__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .client__box {
    margin-bottom: -30px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .client__box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}

.client__itam {
  height: 92px;
  margin-left: 30px;
}

@media screen and (max-width: 1199px) {
  .client__itam {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .client__itam {
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__itam {
    -webkit-flex-basis: -webkit-calc((100% - 90px) / 3);
        -ms-flex-preferred-size: calc((100% - 90px) / 3);
            flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__itam {
    width: 170px;
  }
}

.client__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--social-color-icon);
  width: 100%;
  height: 100%;
  border: 1px solid var(--client-border);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: var(--footer-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer {
    max-width: 100%;
    min-width: 480px;
    height: 603px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    max-width: 100%;
    min-width: 768px;
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-tablet {
    margin-top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -89px;
  }
}

@media screen and (min-width: 1200px) {
  .address-tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-tablet__wrap {
    margin-left: 165px;
    -webkit-flex-basis: -webkit-calc((100% - 165) / 1);
        -ms-flex-preferred-size: calc((100% - 165) / 1);
            flex-basis: calc((100% - 165) / 1);
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .address-box {
    margin-top: 0px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-box {
    margin-right: 82px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .logo-footer {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    display: block;
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

.address-box__Location {
  color: var(--logo-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .address-box__Location {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-box__Location {
    text-align: left;
  }
}

.address-box__mail {
  display: block;
  margin-top: 9px;
  color: var(--footer-address);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .address-box__mail {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-box__mail {
    text-align: left;
  }
}

.address-box__tel {
  margin-top: 9px;
  color: var(--footer-address);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .address-box__tel {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address-box__tel {
    text-align: left;
  }
}

.footer__soc-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.2;
  text-transform: uppercase;
  color: var(--occupation-list);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer__soc-text {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__soc-text {
    text-align: left;
  }
}

.footer-form {
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer-form {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-left: 166px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 108px;
  }
}

.footer-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.2;
  text-transform: uppercase;
  color: var(--occupation-list);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer-form__label {
    margin-left: 131px;
  }
}

.footer-form__input {
  display: block;
  height: 50px;
  border: 1px solid var(--social-color-icon);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: var(--footer-input);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  color: var(--logo-text-color);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.2;
  font-weight: 400;
  color: var(--footer-address);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.2;
  font-weight: 400;
  color: var(--footer-address);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.2;
  font-weight: 400;
  color: var(--footer-address);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.2;
  font-weight: 400;
  color: var(--footer-address);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:hover, .footer-form__input:focus {
  border: solid var(--hiro-hover-focus);
  outline: none;
}

.footer-form__button-submit {
  padding-right: 29px;
  background: var(--hiro-hover-focus);
  -webkit-box-shadow: 0px 4px 4px var(--footer-buton);
          box-shadow: 0px 4px 4px var(--footer-buton);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: var(--logo-text-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 1.9;
  position: absolute;
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer-form__button-submit {
    position: absolute;
    left: 135px;
    bottom: -70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__button-submit {
    left: 370px;
    bottom: 0px;
  }
}

.footer-form__iconsend {
  position: absolute;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .footer-form__iconsend {
    bottom: -55px;
    left: 280px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__iconsend {
    bottom: 13px;
    left: 520px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: var(--team-box-shadow-three);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--logo-text-color);
  -webkit-box-shadow: 0px 1px 3px var(--team-box-shadow-one), 0px 1px 1px var(--team-box-shadow-two), 0px 2px 1px var(--team-box-shadow-three);
          box-shadow: 0px 1px 3px var(--team-box-shadow-one), 0px 1px 1px var(--team-box-shadow-two), 0px 2px 1px var(--team-box-shadow-three);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 571px;
  }
}

.backdrop__button {
  position: absolute;
  top: 8px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 360px;
          border-radius: 360px;
  border: 1px solid var(--backdrop-color);
  background-color: var(--logo-text-color);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .backdrop__button {
    left: 410px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__button {
    left: 490px;
  }
}

.backdrop__button:hover:nth-child(1n), .backdrop__button:focus:nth-child(1n) {
  fill: var(--accent-color);
}

.backdrop__icon {
  margin: auto;
  max-width: 11px;
  max-height: 11px;
}

.form {
  margin-top: 40px;
}

.form__text {
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.1;
  color: var(--title-text-color);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .form__text {
    line-height: 30px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .form__text {
    line-height: 23px;
  }
}

.form__element {
  position: relative;
  margin-bottom: 28px;
  padding-left: 40px;
}

.form__input {
  height: 40px;
  padding: 12px;
  border: 1px solid var(--backdrop-form);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .form__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 448px;
  }
}

.form__input:hover, .form__input:focus {
  outline: none;
  border: 1px solid var(--hiro-hover-focus);
}

.form__input:focus ~ .form__svg {
  fill: var(--hiro-hover-focus);
}

.form__input:hover ~ .form__svg {
  fill: var(--hiro-hover-focus);
}

.form__label {
  position: absolute;
  top: -18px;
  left: 41px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.2;
  color: var(--contact-color);
}

.form__svg {
  position: absolute;
  left: 41px;
  padding-left: 15px;
  top: 220%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-Letter);
}

.form__input-textarea {
  height: 120px;
  resize: none;
  padding: 12px;
  border: 1px solid var(--backdrop-form);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .form__input-textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input-textarea {
    width: 448x;
  }
}

.form__input-textarea::-webkit-input-placeholder {
  letter-spacing: 1.1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--textarea-placeholder);
  margin-bottom: 0px;
}

.form__input-textarea:-ms-input-placeholder {
  letter-spacing: 1.1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--textarea-placeholder);
  margin-bottom: 0px;
}

.form__input-textarea::-ms-input-placeholder {
  letter-spacing: 1.1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--textarea-placeholder);
  margin-bottom: 0px;
}

.form__input-textarea::placeholder {
  letter-spacing: 1.1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--textarea-placeholder);
  margin-bottom: 0px;
}

.form__checkbox-box {
  padding-left: 54px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__checkbox:checked ~ .form__checkbox-icon {
  background: var(--hiro-hover-focus);
  border: var(--hiro-hover-focus);
  opacity: 1;
}

.form__checkbox-label {
  padding-left: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.7;
  color: var(--contact-color);
  display: inline-block;
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .form__checkbox-label {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
  }
}

.form__checkbox-label::before {
  position: absolute;
  left: 50px;
  bottom: 104px;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid var(--title-text-color);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.form__link {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.7;
  text-decoration: underline;
  color: var(--hiro-hover-focus);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .form__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form__link {
    font-size: 14px;
  }
}

.form__checkbox-icon {
  position: absolute;
  left: 50px;
  bottom: 104px;
  fill: var(--occupation-list);
  background: var(--hiro-hover-focus);
  width: 16px;
  height: 16px;
  opacity: 0;
}

.form__button {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: var(--occupation-list);
  background: var(--hiro-hover-focus);
  -webkit-box-shadow: 0px 4px 4px var(--footer-buton);
          box-shadow: 0px 4px 4px var(--footer-buton);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.form__button:hover, .form__button:focus {
  background-color: var(--backdrop-buton-color);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .button--margin {
    margin-right: 8px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .button--margin {
    margin-right: 8px;
  }
}

.buton__appearance {
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: var(--buton-portfolio);
  border: 0px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buton__appearance:hover, .buton__appearance:focus {
  color: var(--logo-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px var(--backdrop-color), 0px 1px 2px var(--buton-portfolio-color-one), 0px 2px 2px var(--buton-portfolio-color-two);
          box-shadow: 0px 3px 1px var(--backdrop-color), 0px 1px 2px var(--buton-portfolio-color-one), 0px 2px 2px var(--buton-portfolio-color-two);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.buton__appearance-all {
  padding: 6px 22px;
  color: var(--logo-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0px;
  -webkit-box-shadow: 0px 3px 1px var(--backdrop-color), 0px 1px 2px var(--buton-portfolio-color-one), 0px 2px 2px var(--buton-portfolio-color-two);
          box-shadow: 0px 3px 1px var(--backdrop-color), 0px 1px 2px var(--buton-portfolio-color-one), 0px 2px 2px var(--buton-portfolio-color-two);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .portfolio {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio__contener {
    position: relative;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__contener {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__contener {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

.portfolio__element {
  margin-bottom: 30px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .portfolio__element {
    width: 450px;
    height: 404px;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__element {
    width: 354px;
    height: 440px;
    margin-left: 30px;
    -webkit-flex-basis: -webkit-calc((100% - 60px) / 2);
        -ms-flex-preferred-size: calc((100% - 60px) / 2);
            flex-basis: calc((100% - 60px) / 2);
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__element {
    width: 370px;
    margin-right: 30px;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__element:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__element:hover, .portfolio__element:hover {
  -webkit-box-shadow: 0px 1px 1px var(--team-box-shadow-one), 0px 4px 4px var(--portfolio-color-one), 1px 4px 6px var(--portfolio-color-two);
          box-shadow: 0px 1px 1px var(--team-box-shadow-one), 0px 4px 4px var(--portfolio-color-one), 1px 4px 6px var(--portfolio-color-two);
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .portfolio--img {
    width: 100%;
    height: 294px;
  }
}

.portfolio__link {
  margin-left: 0px;
  display: block;
}

.portfolio__link:hover .wrapper__box {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link:focus .wrapper__box {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__name {
  margin-bottom: 4px;
  color: var(--title-text-color);
  line-height: 2;
  font-size: 18px;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__name {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-project--tablet {
    margin-bottom: 35px;
  }
}

.portfolio__project {
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid var(--border-card-portfolio);
  border-left: 1px solid var(--border-card-portfolio);
  border-right: 1px solid var(--border-card-portfolio);
}

.portfolio__typ {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
  text-align: left;
  padding-bottom: 20px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper__box {
  position: absolute;
  top: 0;
  left: 0px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-wrapper-box);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper__text {
  font-weight: 400;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.5;
  margin-top: 63px;
  margin-left: 24px;
  color: var(--logo-text-color);
}
/*# sourceMappingURL=main.css.map */