.benefits {
@media screen and (max-width: 1199px) {
padding-top: 60px; 
}
@media screen and (min-width: 0px) and (max-width: 767px) {
padding-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
padding-top: 94px;
padding-bottom: 94px;
}
}
  .benefits__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  .benefis__list {
    @media screen and (min-width: 768px) {
      display: flex;
    } 
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: -30px;
      margin-bottom: -30px;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 0px;
      margin-left: -30px;
    }
  }
  .benefis__grup-box {
  height: 120px;
  background: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 0px) and (max-width: 767px) {
  border-radius: 4px;
  margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  display: block;
  }
  @media screen and (min-width: 1200px) {
  display: flex;
  justify-content:center;
  align-items: center;
  } 
  }
  .benefis__icon {
  @media screen and (min-width: 0px) and (max-width: 767px) {
  width: 80px;
  height: 80px;
  padding-top: 30px;
  margin-left: 200px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-left: 144px;
  margin-top: 25px;
  }
  @media screen and (min-width: 768px) {
  width: 70px;
  height: 70px;
  }
  }
  .benefits__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    text-transform:uppercase;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    @media screen and (min-width: 0px) and (max-width: 767px) {
    text-align: center;
    }
  }
  .benefits__text {
    color: var(--primery-text-color);
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      margin-bottom: 30px;
    } 
  }
  .benefits--margin {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);  
  }
  @media screen and (min-width: 1200px) {
  width: 270px;
  margin-left: 30px;
  }
  }