.footer { 
    @media screen and (min-width: 0px) {
        width: 480px;
        height: 603px;
        background-color: var(--footer-background-color);
        padding-bottom: 60px;
        padding-top: 60px;
        margin-left: auto;
       margin-right: auto; 
    }
    @media screen and (min-width: 768px) {
        width: 760px;
        height: 603px;
        background-color: var(--footer-background-color);
        padding-bottom: 60px;
        // padding-top: 60px;
    }
// background-color: var(--footer-background-color);
// padding-bottom: 60px;
// padding-top: 60px;
}
   
.address-tablet {
    @media screen and (min-width: 768px) {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -89px;
    } 
}
.address-tablet__wrap {
    @media screen and (min-width: 768px) {
        margin-left: 165px;
        flex-basis: calc((100% - 165) / 1);
    }
}
// .footer__box {
    // display: flex;
    // align-items: baseline;
    // }
.address-box {
    @media screen and (min-width: 0px) {
        margin-top: 0px;
        // margin-left: 124px;
        margin-bottom: 60px;
    }
// margin-right: 70px;  
}
    .logo-footer { 
        @media screen and (min-width: 0px) {
            text-align: center;
            margin: 0px;  
            padding: 0px; 
        }

    }
    .address-box__Location {
        @media screen and (min-width: 0px) {
            margin-top: 20px;
            color: var(--logo-text-color);
            font-size: 14px;
            font-style: normal;
            line-height: 1.7;
            text-align: center;   
        }    
    // margin-top: 20px;
    // color: var(--logo-text-color);
    // font-size: 14px;
    // font-style: normal;
    // line-height: 1.7;
    // text-align: left;
    }
    .address-box__mail {
        @media screen and (min-width: 0px) {
            display: block;
            margin-top: 9px;
            color: var(--footer-address);
            font-size: 14px;
            font-style: normal;
            line-height: 1.7;
            text-align: center;   
        } 
    // display: block;
    // margin-top: 9px;
    // color: var(--footer-address);
    // font-size: 14px;
    // font-style: normal;
    // line-height: 1.7;
    // text-align: left;
    }
    .address-box__tel {
        @media screen and (min-width: 0px) {
            margin-top: 9px;
            color: var(--footer-address);
            font-size: 14px;
            font-style: normal;
            line-height: 1.7;
            text-align: center;
        }   
    // margin-top: 9px;
    // color: var(--footer-address);
    // font-size: 14px;
    // font-style: normal;
    // line-height: 1.7;
    // text-align: left;
    }
    .footer__soc-text {
        @media screen and (min-width: 0px) {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1.2;
            text-transform: uppercase;
            text-align: center;
            color: var(--occupation-list);   
        }   
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 16px;
    // letter-spacing: 1.2;
    // text-transform: uppercase;
    // color: var(--occupation-list);
    }
.footer-form {
    @media screen and (min-width: 0px) {
        position: relative;
        padding-top: 60px; 
    }
    @media screen and (min-width: 768px) {
        margin-left: 166px;
    }

// position: relative;
// display: flex;
// justify-content: center;
// margin-left: 93px;
}
    .footer-form__label {
        @media screen and (min-width: 0px) {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 1.2;
            margin-left: 131px;
            text-transform: uppercase;
            color: var(--occupation-list);
        }  
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 16px;
    // letter-spacing: 1.2;
    // text-transform: uppercase;
    // color: var(--occupation-list);
    }
    .footer-form__input {
        @media screen and (min-width: 0px) {
            display: block;
            width: 450px;
            height: 50px;
            border: 1px solid var(--social-color-icon);
            border-radius: 4px;
            background-color: var(--footer-input);
            padding-left: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 20px;
            color: var(--logo-text-color);
        }   
    // display: block;
    // width: 358px;
    // height: 50px;
    // border: 1px solid var(--social-color-icon);
    // border-radius: 4px;
    // background-color: var(--footer-input);
    // padding-left: 16px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // margin-top: 20px;
    // color: var(--logo-text-color);
        &::placeholder {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.2;
        font-weight: 400;
        color: var(--footer-address);
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
         &:hover, &:focus {
        border: solid var(--hiro-hover-focus);
        outline: none;}
}
    .footer-form__button-submit {
        @media screen and (min-width: 0px) {
            position: absolute;
            width: 200px;
            height: 50px;
            left: 135px;
            bottom: -70px;
            padding-right: 29px;
            background: var(--hiro-hover-focus);
            box-shadow: 0px 4px 4px var(--footer-buton);
            border-radius: 4px;
            color: var(--logo-text-color);
            font-size: 16px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: 1.9;  
        }   
    // position: absolute;
    // width: 200px;
    // height: 50px;
    // left: 370px;
    // bottom: 0px;
    // padding-right: 29px;
    // background: var(--hiro-hover-focus);
    // box-shadow: 0px 4px 4px var(--footer-buton);
    // border-radius: 4px;
    // color: var(--logo-text-color);
    // font-size: 16px;
    // line-height: 30px;
    // font-weight: 700;
    // letter-spacing: 1.9;
    }
    .footer-form__iconsend{ 
        @media screen and (min-width: 0px) {
            position: absolute;
            bottom: -55px;
            left: 280px;
            width: 24px;
            height: 24px;
            pointer-events: none;
        }   
    // position: absolute;
    // bottom: 13px;
    // left: 520px;
    // width: 24px;
    // height: 24px;
    // pointer-events: none;
    }