.hero { 
background-size: cover;
background-repeat: no-repeat;
text-align: center;
margin-left: auto;
margin-right: auto;

@media screen and (min-width: 0px) and (max-width: 767px) {
max-width: 100%;
min-width: 480px;
height: 400px;
background-image: linear-gradient(var(--background-hiro), 
var(--background-hiro)), url('../images/background-modile@1.jpg');
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
background-image:linear-gradient(var(--background-hiro), 
var(--background-hiro)), url('../images/background-tblet@2.jpg');}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
max-width: 100%;
min-width: 768px;
height: 400px; 
background-image: linear-gradient(var(--background-hiro), 
var(--background-hiro)), url('../images/background-tblet@1.jpg');
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
background-image:linear-gradient(var(--background-hiro), 
var(--background-hiro)), url('../images/background-mobile@2.jpg');}
       }
@media screen and (min-width: 1200px) {
padding-top: 200px;
padding-bottom: 200px;
background-color: var(--footer-background-color);
background-image: linear-gradient(var(--background-hiro), 
var(--background-hiro)), url('../images/background.jpg');
max-width: 1600px;
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
background-image:linear-gradient(var(--background-hiro), 
var(--background-hiro)), url('../images/background-desktop@2x.jpg');}
       }
}
        .hero__text {
        display: block;
        color: var(--logo-text-color);
        text-transform:uppercase;
        line-height: 1.4;
        text-align: center; 
        @media screen and (min-width: 0px) and (max-width: 767px) {
        margin-left: 60px;    
        }
        @media screen and (max-width: 1199px) {
        font-size: 26px;
        padding-top: 118px;
        max-width: 360px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 204px;  
        }
        @media screen and (min-width: 1200px) {
        margin: auto;
        max-width: 696px;
        font-size: 44px;
         }
         }
        .hero__buton {
        margin-top: 30px;
        background-color: var(--accent-color);
        color: var(--logo-text-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.8;
        text-align: center;
            &:hover, &:focus {
            background-color: var(--hiro-buton-hover-focus);}
        }