.logo {
font-family: var(--font-family-logo);
line-height: 1.2;
color: var(--accent-color);

@media screen and (min-width: 0px) {
padding-top: 16px;
display: block;
font-size: 24px;
font-weight:700;
color: var(--accent-color);}
    
@media screen and (min-width: 760px) {
padding-bottom: 10px;
margin-left: 15px;
font-size: 24px;
font-weight:700;
}
@media screen and (min-width: 1200px) {
font-size: 26px;
text-align: left;  
} 
}

    .logo--colorcolor-black {
    color: var(--title-text-color);
    }
    .logo--color-white {
    color: var(--logo-text-color);
    }