.team  {
background-color: var(--team-background-color);
@media screen and (min-width: 0px) and (max-width: 767px) {
width: 480px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
width: 768px;     
}
@media screen and  (max-width: 1199px) {
padding-top: 30px;
padding-bottom: 60px;
margin-left: auto;
margin-right: auto;    
}
@media screen and (min-width: 1200px) {
padding-top: 94px;
padding-bottom: 94px;
}
}
    .team__based-title {
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 1.2;
    text-align: center;
    @media screen and (max-width: 1199px) {   
    font-size: 28px;
    }
    @media screen and (min-width: 1200px) {
    font-size: 36px;  
    }
    }
    .team__box-card {
    @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -30px;   
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap; 
    }
    }
   
    .team__card {
    background-color: var(--occupation-list);
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px var(--team-box-shadow-one), 
    0px 1px 1px var(--team-box-shadow-two), 0px 2px 1px var(--team-box-shadow-three);
    border-radius: 0px 0px 4px 4px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
    max-width: 480px;
    max-height: 622px;
    }
    @media screen and (min-width: 768px) {
    margin-left: 30px;   
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    max-height: 536px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
        height: 428px;
    }
    .magin-igor {
        margin-top: -25px;
        margin-left: -20px;
    }
        .img-tel {
        @media screen and (max-width: 1199px) {
            margin-bottom: 0px;
        display: block;
        width: 100%;
        padding-bottom: 0px;
        }
        @media screen and (min-width: 0px) and (max-width: 767px) {
        height: 460px;
        margin-left:0px;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {    
        height: 374px;
        }
        }}
    .team__employee {
    padding-top: 30px;
    @media screen and (min-width: 0px) and (max-width: 1199px) {
    padding-bottom: 45px;
   
    }  
    @media screen and (min-width: 1200px) {  
   
        padding-bottom: 30px;
    }
    }
    .team__name {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    }
    
    .team__specialty {
    padding-bottom: 0px;
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1,2;
    text-align: center; 
    }
    